body{font:normal 18px/1.27em 'PT Sans',Tahoma,Verdana,Segoe,sans-serif;color:#474747;word-wrap:break-word;}
a{color:#006699;text-decoration:none;position:relative;transition:color 0.2s;}
a:hover{color:#00b9eb;}
p{padding:0 0 1em 0;margin:0;}
p:last-child{padding-bottom:0;}
h1,h2,h3,h4,h5,h6{color:#474747;margin:1em 0 0;padding:0 0 0.5em;line-height:110%;font-family:'PT Sans',TimesNewRoman,Tahoma,Verdana,Segoe,sans-serif;font-weight:bold;margin:1em 0 0;}
h1{font-size:28px;color:#5a5a5a;border-bottom:4px double #e0e0e0;padding-bottom:10px;margin:0 0 10px;}
h2{font-size:28px;color:#006699;}
h3{font-size:22px;color:#474747;}
h4{font-size:20px;color:#2d2d2d;}
h5,h6{font-style:italic;font-size:18px;color:#474747;}
input,textarea,a{outline:none;}
ul{padding-left:25px;}
ol{padding-left:40px;margin-top:0;counter-reset:section;}
li{list-style-type:none;margin-bottom:15px;position:relative;color:#474747;}
/*.alignleft,.alignright{ position: relative; z-index:1;}*/
ul > li > li { padding-left: 50px; }
ul > li:before, ul > li:after {	content: '';	position: absolute;display: block;top: 5px;left: -20px;width: 4px;height: 15px;background: #069;border-radius: 10px;transform: rotate(45deg);}
ul > li:after {height: 7px;transform: rotate(-45deg);top: 11px;left: -26px;}
ol li:before { counter-increment: section; content: counter(section) "";display: block;float: left; margin-left: -40px;padding: 4px 10px; background-color: #005782; color: #fff; left: -40px; top: 0; border-radius: 5px; font-weight: bold; text-align: center; font-size: 14px; vertical-align: middle; }
blockquote{background-color:#8cbad1;font-style:italic;width:83%;margin-left:-5%;padding:20px 5% 20px 22%;position:relative;z-index:-1;text-align:right;color:#003752;}
blockquote:before{content:'';position:absolute;display:block;top:20px;left:20px;width:32px;height:28px;/*background-image:url(img/social-buttons.png);*/background-position:-135px -93px;}
input[type=file]{border-radius:3px;border:0;margin:10px 0;font-size:16px;}
input[type=text],input[type=email],input[type=password],textarea{padding:9px 10px 9px 40px;font-size:16px;line-height:18px;border-radius:3px;border:1px solid #ccc;font-style:italic;width:100%;box-sizing:border-box;font-size:16px;line-height:18px;}