/*
 *  Theme Name: Simple Puzzle
 * Description: Responsive WordPress theme for blogs and magazines. Custom color theme, page layouts and some other options.
 *     Version: 1.1.3
 *   Theme URI: http://wp-puzzle.com/simple-puzzle/
 *      Author: WP Puzzle
 *  Author URI: http://wp-puzzle.com/
 *     License: WP Puzzle License
 * License URI: http://wp-puzzle.com/license/
 *        Tags: light, tree-columns, two-columns, one-column, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, sticky-post, threaded-comments, translation-ready
 * Text Domain: simplepuzzle
 */


/*! normalize.css v3.0.2 | MIT License | git.io/normalize 
 * ============================================================================ */ 
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;max-width:100%;}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/* ============================================================================ */ 

/* grid 
 * ============================================================================ */ 
.grid{width:90%;margin-left:auto;margin-right:auto}.grid [class*=col]{width:100%;margin-left:0}
@media screen and (min-width:1024px) {.grid{width:100%}.grid [class*=col]{float:left}.grid:after,.grid:before,.grid .newrow:before{display:table;line-height:0;content:""}.grid:after,.grid .newrow,.grid .newrow:before{clear:both}.grid [class*=col]{margin-left:1.694915254%;margin-right:0}.grid .newrow,.grid [class*=col]:first-of-type{margin-left:0}
.grid .col1{width:6.779661017%}.grid .col2{width:15.25423729%}.grid .col3{width:23.72881356%}.grid .col4{width:32.20338983%}.grid .col5{width:40.6779661%}.grid .col6{width:49.15254237%}.grid .col7{width:57.62711864%}.grid .col8{width:66.10169492%}.grid .col9{width:74.57627119%}.grid .col10{width:83.05084746%}.grid .col11{width:91.52542373%}.grid .col12{width:100%}}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}
.on-mobile{display:block}.on-desktop{display:none}
@media screen and (min-width:1024px){.on-mobile{display:none}.on-desktop{display:block}}
/* ============================================================================ */ 

/* layout
* ============================================================================ */ 
html { height: 100%; }
body { background-color: #f6f6f6; min-width: 280px; padding: 0; margin: 0; word-wrap: break-word; }

.bodywrap { position: relative; }

#header { padding: 30px 0; position: relative; }
#main { padding: 0 0; margin: 0; }
#content { text-align:justify; }
#sidebar { display: none; padding: 40px 0 0;}
#secondbar { display: none; }
#footer { margin: 0; padding: 40px 0; }

.inner { margin: 0 auto; max-width: 1160px }
.pagewrapper {padding:0 5%;background:#fff; }

#sidebar{
	width: 300px!important;
}
/* adaptive layout */
@media screen and (min-width:768px) {
	#content { padding: 0px 0;width: 100%; }
	article.post { margin: 0 3%; }
	article .post_thumbnail { position: relative; margin: 0 8%; }
	article h1 {
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(36,118,191,0.85);
    color: #fff;
    padding: 20px;
    margin: 0 auto;
}
 #sidebar{
    display: none;
    } 
   .featured-posts-box, .featured-posts-box .grid{
        width: 100%!important;
    }
    .left-wrap-two{
    	width: 100%;
    }
}	
@media screen and (min-width:1024px) {
	#header { padding-bottom: 70px; position: static; }
	.pagewrapper { margin-top:-40px;padding:0;position: relative; }
	.layout-leftbar .pagewrapper:after, .layout-rightbar .pagewrapper:after,
	.layout-both .pagewrapper:before, .layout-both .pagewrapper:after { 
		content: ''; height: 100%; width: 1px; display: block; position: absolute; top: 0;
		background-color: #E0E0E0; border: 40px solid #fff; border-width: 40px 0; box-sizing: border-box; 
	}
	.layout-both .pagewrapper:before { left: 23.27586206896552%; } 
	.layout-both .pagewrapper:after { right: 23.27586206896552%; } 
	.layout-leftbar .pagewrapper:after { right: 68.96551724137931%; }
	.layout-rightbar .pagewrapper:after { left: 68.96551724137931%;  }	

	#content { width: 62.06896551724138%; float: left; margin: 40px; }
	#sidebar { width: 24.13793103448276%; float: right; display: block;
	 padding: 40px 3.44827586206897% 0 0;
	     /*padding: 0px 2.448276% 0 0;*/
	}
	
	.layout-leftbar #sidebar { padding: 40px 0 40px 3.44827586206897%; }
	.layout-leftbar #content { padding: 40px 3.44827586206897% 0 0;}

	.layout-leftbar #sidebar { float: left; }
	.layout-leftbar #content { float: right; }
	.layout-full #sidebar { display: block; float: right; }
	.layout-full #content { float: none; width: auto; padding-right: 40px; }
	.layout-center #sidebar { display: none; }
	.layout-center #content { float: none; width: 62.17616580310881%; margin-left: auto; margin-right: auto; }

	.layout-both #content { float: left; width: 48.27586206896552%;/*51.72413793103448%; */}
	.layout-both #sidebar, .layout-both #secondbar { display: block; width: 17.24137931034483%;}
	.layout-both #sidebar { float: right; }
	.layout-both #secondbar { float: left; padding: 40px 20px 0 40px;}
}	
@media screen and (min-width:1180px) {
	.pagewrapper { border-radius: 10px; box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.12), inset -1px -1px 0 rgba(0, 0, 0, 0.12); }
}
/* ============================================================================ */ 



/* HTML Tags
 * ============================================================================ */ 
body {
	font: normal 18px/1.27em 'PT Sans', Tahoma, Verdana, Segoe, sans-serif;
	color: #474747;
	word-wrap: break-word;
}
a {	color: #006699; text-decoration: none; position: relative; transition: color 0.2s; }
a:hover { color: #00b9eb; }

p { padding: 0 0 1em 0; margin: 0; }
p:last-child { padding-bottom: 0; }

h2, h3, h4, h5, h6 { 
	color: #474747;
	margin: 1em 0 0;
	padding: 0 0 0.5em;
	line-height: 110%;
	font-family: 'PT Sans', TimesNewRoman, Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	margin: 1em 0 0;
}

h2 { font-size: 26px; color: #006699; }
h3 { font-size: 22px; color: #474747; }
h4 { font-size: 20px; color: #2d2d2d; }
h5, h6 { font-style: italic; font-size: 18px; color: #474747; }

input, textarea, a { outline: none; }

ul { padding-left: 25px; }
ol { padding-left: 40px; margin-top: 0; counter-reset: section; }
li {
 /*list-style-type: none; */
	margin-bottom: 15px; position: relative; color: #474747; }
/*ul li { list-style-type: disc;}*/
#sidebar ul li{
	list-style-type: none;
}

ul > li > li { padding-left: 50px; }
.entry ul > li:before, .entry ul > li:after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: -25px;
    width: 4px;
    height: 15px;
    /*background: #069;*/
    border-radius: 10px;
    transform: rotate(45deg);
}
.entry ul > li:after {
    height: 7px;
    transform: rotate(-45deg);
    top: 11px;
    left: -31px;
}
ol li:before { counter-increment: section; content: counter(section) "";
	/*position: absolute; display: block; */
	display: block; float: left; margin-left: -40px;
	padding: 4px 10px; background-color: #005782; color: #fff; left: -40px; top: 0; border-radius: 5px; font-weight: bold; text-align: center; font-size: 14px; vertical-align: middle; }

blockquote { background-color: #8cbad1; font-style: italic; width: 83%; margin-left: -5%; padding: 20px 5% 20px 22%; position: relative; text-align: right; color: #003752; }
blockquote:before { content: ''; position: absolute; display: block; top: 20px; left: 20px; width: 32px; height: 32px; background: url(svg/sprite.svg) 50% 50% no-repeat; background-size: auto 96px; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], 
input[type=date], input[type=datetime], input[type=datetime-local], input[type=time],
input[type=month], input[type=week], input[type=number], input[type=search],
textarea { 
	padding: 10px;
	border: 1px solid #ccc; 
	font-size: 16px; 
	line-height: 20px; 
   	border-radius: 3px; 
   	transition: border-color 0.3s;
}
textarea { padding: 5px 10px; }
input[type=file] { border-radius: 3px; border: 0; margin: 10px 0; font-size: 16px; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus,  input[type=tel]:focus, input[type=number]:focus,
input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, 
input[type=time]:focus, input[type=month]:focus, input[type=week]:focus,
input[type=search]:focus, textarea:focus {
	border-color: #069;
}

input::-webkit-input-placeholder { font-style: italic }
input::-moz-input-placeholder { font-style: italic }
input::-ms-input-placeholder { font-style: italic }
textarea::-webkit-input-placeholder { font-style: italic }
textarea::-moz-input-placeholder { font-style: italic }
textarea::-ms-input-placeholder { font-style: italic }

input[type=button], input[type=submit], 
button, .button {
	border: 0;
	padding: 10px 20px;
	color: #fff;
	line-height: 20px;
	background-color: #069;
	transition: background 0.3s;
   	border-radius: 3px; 
}

#commentlist input[type=text], 
#commentlist input[type=email], 
#commentlist textarea {
	padding: 10px 10px 10px 40px;
	box-sizing: border-box; 
	width: 100%; 
}
/* ============================================================================ */ 

.wpp-thumbnail{
	    margin: 0 10px 0 0!important;
}


/* ============================================================================
 * TOP INFOBAR
 * ============================================================================ */ 

.infobar { background: #006699; position: relative; box-shadow: inset 0 -1px 5px rgba(0, 0, 0, .3); }
.top-social, .top-message { display: none; }


/* ___ mobile menu buttons ____ */
.mobbar { background: rgba(0, 0, 0, 0.12); padding-right: 50px; }
.mm-button { float: left; width: 50%; height: 50px; padding: 15px 0; font-weight: bold; color: rgba(255, 255, 255, 0.5); font-size: 16px; line-height: 20px; text-transform: uppercase; text-align: center; box-sizing: border-box; border-right: 1px solid rgba(255, 255, 255, 0.2); }
.mm-button:hover { color: rgba(255, 255, 255, 0.84); }
.mm-button.opened { color: #fff; background: #006699; }
.mobile-search { position: absolute; top: 0; right: 0; width: 50px; border: 0; padding: 0; }
.top-message { color: rgba(255, 255, 255, 0.84); font-size: 14px; font-weight: normal; line-height: 16px; padding: 5px 10px; }


/* ____ mobile menu ____ */
.mobmenu { display: none; position: absolute; background: #069; padding: 0; margin: 0; top: 50px; left: 0; width: 100%; z-index: 100; max-width: 300px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) }
#right_mobile { right: 50px; left: auto; }
.mobmenu li:before,.mobmenu li:after { display: none }
.mobmenu li { padding: 0; margin: 0 }
.mobmenu li a, .mobmenu li span { padding: 17px 20px; margin: 0; color: #fff; font-size: 15px; line-height: 16px; display: block; border-top: 1px solid rgba(255, 255, 255, 0.2) }
.mobmenu .sub-menu, .mobmenu .children { padding: 0; margin: 0 }
.mobmenu .sub-menu li a, .mobmenu .children li a,
.mobmenu .sub-menu li span, .mobmenu .children li span { padding-left: 50px }




/* ============================================================================
 * HEADER
 * ============================================================================ */ 

#header { background-position: top center; background-repeat: no-repeat; }
.logo {text-align:center;font-size:50px;letter-spacing:-0.03em;font-weight:bold;line-height:50px;padding:0;color:#069;display:block;}
img#logo {max-height: 100px; width: auto;}
.sitedescription {font-style: italic;font-size:14px;text-align: center}


/* ___ search topbar ___ */
#topsearch { right: 0; left: auto; }
#topsearch input.s { background-color: transparent; }
.soc-item, .search-button, .search-underform { display: block; height: 22px; width: 22px; padding: 14px; }
.soc-item, .search-button, .search-underform { fill: #fff; fill-opacity: 0.5; transition: all 0.3s; }
.soc-item:hover, .search-button:hover, .search-button-box:hover .search-underform { fill-opacity: 0.84; }
.search-underform, input[type="submit"].search_submit { position: absolute; right: 0; top: 0; border: 0; padding: 0; margin: 0; width: 50px; height: 50px;}
.search-underform { height: 20px; width: 20px; padding: 15px;  }
input[type="submit"].search_submit, input[type="submit"].search_submit:hover { background-color: transparent; }
input.s {width:100%;box-sizing:border-box;height:50px;border:none;box-shadow:none;background-color:#005c89;color:#fff;font-size:16px;padding:0 40px 0 20px; }
input.s::-webkit-input-placeholder {font-style:italic;color:rgba(255,255,255,0.8);}
input.s::-moz-input-placeholder {font-style:italic;color:rgba(255,255,255,0.8);}
input.s::-ms-input-placeholder {font-style:italic;color:rgba(255,255,255,0.8);}

.main-menu {display: none;}


/* ======================================================================== */



/* ========================================================================
 *            CONTENT
 * ======================================================================== */

/* ____ review post ____ */
.review { padding-bottom: 30px; border-bottom: 4px double #e0e0e0; margin-bottom: 30px; }
.review_title {color:#595959;font-size:24px;line-height:24px;margin-top: 0;}
/*.review_title a {transition: all 0.3s;}*/
.review_title a:hover {opacity: 0.8; /*color: #00b9eb;*/` }
.review img.thumbnail { display: none; }
.review .entry-meta { display: none; }
.review .entry p { color: #737373; font-size: 16px; line-height: 18px; padding-bottom: 20px; }
.more-link { color: #fff; padding: 10px 20px 10px 20px; background-color: #006699; border-radius: 5px; position: relative; display: inline-block; overflow: hidden; margin: 20px 0 0; transition: ease 0.3s; }
.more-link:hover { color: #fff; background-color: #0089ce; padding: 10px 52px 10px 20px; }
.more-link:before { content: ""; position: absolute; height: 20px; width: 20px; background: url(svg/readmore.svg) 0 0 no-repeat; -webkit-background-size: 20px; background-size: 20px; left: 130%; top: 50%; margin-top: -9px; opacity: 0.6; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.more-link:hover:before { left: 80%; }

.inform {margin-bottom:60px;}
.inform h1{font-size: 1.5em;}
.inform p { font-style: italic}

.inside-thumbnail {
    position: relative;
    width: 100%;
    max-width: 670px;
    height: 250px;
    margin: 20px auto;
}
    .inside-thumbnail .title {
        font-size: 30px;
        color: #fff;
        padding: 10px 20px;
        background: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .inside-thumbnail img {
        width: 100%;
        /*height: auto;*/
    }

/* ____ entry ____ */
.entry a:hover { color: #069; }
.entry a::after { position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background: #006699; content: ''; opacity: 0; -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s; -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s; transition: height 0.3s, opacity 0.3s, transform 0.3s; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); transform: translateY(-10px); }
.entry a:hover::after { height: 1px; opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); }
.review.sticky { border: 4px double #e0e0e0; padding: 30px; margin-bottom: 60px; }


/* ___ meta info ___ */
.entry-meta { color: #a5a5a5; font-size: 13px; padding: 0; }
.entry-meta a { color: #a5a5a5; }
.entry-meta a:hover { color: #00b9eb; }
.entry-meta span { padding: 0 10px 0 20px; position: relative; }
.entry-meta span::before { 
	content: ''; position: absolute; 
	top: 1px; left: 0; 	width: 14px; height: 14px;  
	background: url(svg/sprite.svg) no-repeat 25% 0; background-size: auto 42px; 
	transition: opacity 0.3s; 
}
.entry-meta span:hover::before { opacity: 0.6; }
.entry-meta .date::before { background-position: 50% 0; }
.entry-meta .comments::before, .view-box .comment::before, li.recentcomments::before { background-position: 100% 0; }


/* __ search results ___ */
.serp h2 { font-size: 20px; margin: 0; line-height: 20px; }
.serp { padding-bottom: 10px; }


/* ___ images ___ */
.entry iframe { max-width: 100%; width: 100%; }
.entry img { max-width: 100%; height: auto; margin-bottom: 10px; margin-top: 8px; }
.alignleft img {display: block;margin: 0 auto 0 0;}
.alignright img {display: block;margin: 0 0 0 auto;}
img.alignleft, .alignleft { float: left; margin-right: 20px; margin-left: 0; }
img.alignright, .alignright { float: right; margin-left: 20px; margin-right: 0; }
.aligncenter, div.aligncenter, img.centered { display: block; margin-left: auto; margin-right: auto; }
.attachment, .caption, .gallery-caption { text-align: center; }
.attachment .navigation { height: 150px; }
.wp-caption, .attachment img { text-align: center; max-width: 100%; }
.wp-caption img { margin-top: 0; margin-bottom: 0;}
.wp-caption p.wp-caption-text { font-size: 12px; color: #222; margin: 0 0 15px; }
.entry .wp-smiley { margin: 0; padding: 0; border: 0; }

img { max-width: 100%; height: auto;}
.entry img {max-width: 100%;height: auto;}
img.aligncenter {display: block;margin: 0px auto;}
.thumbnail { margin: 0 auto; display: block; 
	/*width: 100%;*/
}



/* ____ social share  ____ */
.stats { border-top: 4px double #e0e0e0; margin: 30px 0px; }
.social-share { margin: 0; text-transform: uppercase; font-weight: bold; border-bottom: 4px double #e0e0e0; padding: 20px 0 15px; }
.social-share .like { color: #006699; }
.social-share .social_item { height: 30px; width: 30px; border-radius: 3px; display: inline-block; margin: 0 5px 0 0; padding: 0; position: relative; top: 0; transition: top 0.3s; }
.social-share .social_item .soc-item { fill: #fff; fill-opacity: 1; padding: 5px; }
.social-share .social_item:hover { top: 2px; }
.social-share .tw { background-color: #58c3f8; }
.social-share .fb { background-color: #324596; }
.social-share .vk { background-color: #16648b; }
.social-share .go { background-color: #c63700; }
.social-share .od { background-color: #ef8505; }
.entry .social-items ul, .entry .social-items li {padding-left: 0;}
.entry .social-items li:before, .entry .social-items li:after,
.social-items a:hover:before, .social-items a:hover:after {display: none;}

/* ____ total views ____ */
.view-box { padding: 0; margin: 0; font-size: 15px;/*float: right;*/ }
.view-box .view { margin: 10px 0 0; line-height: 14px; color: #555555; padding: 8px 5px 8px 55px; width: 50px; background-color: #e0e0e0; position: relative; border-radius: 3px; display: block; }
.view-box a:hover { color: #006699; }
.view-box .view::before, .view-box .view::after { content: ''; position: absolute; }
.view-box .view::after, .view-box .view:hover::after { opacity: 1; transform: none; transition: none; height: 100%; }
.view-box .view::before { left: 14px; top: 7px; height: 16px; width: 16px; background: url(svg/sprite.svg) no-repeat; background-size: auto 48px; }
.view-box .see::before { background-position: 75% 0; }
.view-box .comment::before { background-position: 100% 50%; }
.view-box .view::after { top: 0; left: 40px; height: 100%; width: 1px; background: #fff; }

/* ___ pagination ____ */
.page-numbers { border: 1px solid #e0e0e0; color: #5a5a5a; font-size: 16px; padding: 5px 12px 7px; border-radius: 5px; transition: background-color 0.3s, border 0.3s; }
.page-numbers:hover { background: #069; border-color: #069; color: #fff; }


/* ___ prev next posts  ___ */
.post-nav-links .view { background-color: #e0e0e0; color: #494949; box-sizing: border-box; width: 100%; margin: 20px 0; position: relative; }
.post-nav-links .view:hover { background-color: #006699;  }
.post-nav-links a { color: #494949; display: block; font-size: 18px; font-weight: bold; line-height: 18px; transition: color 0.3s; }
.post-nav-links .view:hover a { color: #fff; }
.post-nav-links .prev { transition: background 0.3s; }
.post-nav-links .next { transition: background 0.3s; }
.post-nav-links .prev a { padding: 20px 5% 20px 15%; text-align: right; }
.post-nav-links .next a { padding: 20px 15% 20px 5%; text-align: left; }
.post-nav-links .view:after { content: ''; position: absolute; height: 30px; width: 30px; top: 50%; margin-top: -15px; background: url(svg/sprite.svg) 0 50% no-repeat; background-size: auto 90px; border: none; }
.post-nav-links .prev:after { left: 10px; }
.post-nav-links .next:after { right: 10px; transform: rotate(180deg); }
.post-nav-links .view:hover:after { background-position: 25% 50%; }
.post-nav-links .next:hover:after { transform: rotate(180deg); }


/* ___ comments ____ */
#comments { margin-top: 60px; }
.comment-list {padding: 0;margin: 0;}
.comment-list li:before, .comment-list li:after { display: none; }
.comment-body {margin: 0 0 20px 0;padding: 0;}
.comment-author .fn { text-transform: uppercase; color: #2f2f2f; font-size: 15px; font-weight: bold; display: inline; }
.comment-author .avatar { display: none; }
.comment-author {float: left; margin-right: 20px;}
.comment-metadata { display: inline; font-style: italic; font-size: 14px}
.comment-metadata a { color: #898989; }
.comment-metadata .edit-link { margin-left: 10px; }
.comment-content { margin: 10px 0 0; padding: 0px; color: #707070; font-size: 16px; line-height: 18px; }
.comment a:hover { color: #006699; }
.comment .reply {text-align: right;}
.comment-reply-link { font-weight: bold; color: #727272; text-transform: uppercase; font-size: 13px; }
.bypostauthor .comment-author .fn, .bypostauthor .comment-author a {color: #00b9eb;}
.pingback .comment-body { margin: 0; background: #eee; padding: 20px; border-radius: 3px; }
#comments .children { margin: 0; padding: 0; }


/* ___ respond ____*/
#respond {margin: 80px 0 0;}
.widget-title, #reply-title { text-transform: uppercase; color: #5a5a5a; font-weight: bold; border-bottom: 4px double #e0e0e0;	/*display: block;*/ padding: 0 0 3px; margin: 0 0 20px; }
#reply-title {font-size: 16px;}

.comment-form textarea { width: 100%; box-sizing: border-box; }
.comment-form > p {font-size: 16px;font-style: italic;}
.comment-form .row { display: block; padding: 0; margin-bottom: 10px; position: relative; }
.comment-form .row input { padding-left: 40px; box-sizing: border-box; width: 100%; }
.row-message { clear: both; }
.row-name:before, .row-email:before, .row-site:before { content: ''; display: block; position: absolute; height: 16px; width: 16px; left: 12px; top: 12px; background: url(svg/sprite.svg) 50% 100% no-repeat; background-size: auto 48px; }
.row-name:before { background-position: 75% 100%; }
.row-email:before { background-position: 100% 100%; }
.row-site:before { background-position: 50% 100%; }
.comment-form .form-submit { padding: 10px 0; clear: both; position: relative; }
.comment-form .form-submit::before { content: ''; position: absolute; top: 18px; left: 10px; z-index: 1; height: 24px; width: 24px; background: url(svg/sprite.svg) 0 100% no-repeat; background-size: auto 72px; }
.comment-form .form-submit:hover::before { background-position: 25% 100%; }
.comment-form #submit { color: #fff; font-size: 16px; font-style: normal; padding: 10px 15px 10px 45px; border-radius: 5px; display: block; margin: 0 auto 0 0; position: relative; border: none; transition: background-color 0.2s; }
.comment-form #submit:hover { opacity: 0.9; /*background-color: #003e5d;*/ }


/* ========================================================================== */



/* ========================================================================== *
 * 	HOME
 * ========================================================================== */

/* _______ big slider ____ */
.first-slider { width: 110%; margin: 0 auto 0 -5%; padding: 0; position: relative; z-index: 1;}
.first-slider:before { display: none; content: ''; position: absolute; bottom: 0; height: 60px; width: 90%; z-index: 99; background: #fff; }
.bigslider { padding: 0; margin: 0; border: 0; }
.bigslider h2 { margin: 0 0 30px; padding: 0; color: #fff; }
.bigslider .inside-info { padding: 30px; color: #fff; }
.bigslider .more-link { background-color: rgba(0, 0, 0, 0.4); margin-top: 10px; }
.slide-item { min-height: 200px; overflow: hidden; padding: 0; margin: 0; position: relative; }

.bx-wrapper {position:relative;margin:0 auto 20px;padding:0;*zoom:1;}
.bx-wrapper img {max-width:100%;display:block;width: 100%;}
.bx-viewport{ background: #069; }
.bx-wrapper .bx-loading{min-height:50px;background:url(img/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
/*  pager */
.bx-wrapper .bx-pager { position: absolute; z-index: 999; top: 20px; left:0; padding:20px; text-align:left; font-size:.85em; font-family:Arial; font-weight:bold; color:#666; }
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a { background: rgba(255,255,255,0.3); text-indent: -9999px; display: block; width: 40px; height: 5px; margin: 0 5px; outline: 0; }
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background: rgba(255,255,255,0.8);}
/*  prev/next */
.bx-wrapper .bx-prev,.bx-wrapper .bx-next{ background:url(img/controls.png) no-repeat 0 0; opacity: 0.4; transition: opacity 0.3s;}
.bx-wrapper .bx-prev{left:20px; background-position: 0 0;}
.bx-wrapper .bx-next{left:62px; background-position: -40px 0;}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover{opacity: 1;}
.bx-wrapper .bx-controls-direction a{display: none;position:absolute;top:20px;outline:0;width:40px;height:40px;text-indent:-9999px;z-index:99;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}


/* _______ small slider ____ */
.wrap-second-sl { max-width: 340px; margin: 0 auto !important; }
.wrap-second-sl .bx-viewport { background: #fff; }
.wrap-second-sl li:before, .wrap-second-sl li:after { display: none; }
.wrap-second-sl .bx-wrapper .bx-pager { padding-bottom: 0; top: auto; bottom: 0; }
.second-slider .bx-wrapper .bx-viewport { background-color: #fff; height: 271px; }
.second-slider .inside-info { position: absolute; top: 0px; left: 50%; margin-left: -150px; padding: 20px; max-width: 300px; }
.second-slider .inside-info, .second-slider .inside-info a { color: #fff; font-size: 24px; text-align: center; }
.second-slider { position: relative; margin: 0; padding: 0; }
.second-slider .bx-wrapper .bx-pager, 
.second-slider .bx-wrapper .bx-controls-auto { top: auto; bottom: 0; padding-bottom: 0; }
.second-slider img { margin: 0 auto; }


/* ____ small announce && related posts ____  */
.featured-posts-box { 
	/*margin: 0 0 50px 0;*/
	margin: 0;
	 }
.featured-posts-box:last-child { margin: 0; }
.featured-posts-box .featured-cat-wrapper { margin-bottom: 20px; }
.featured-posts-box .featured-cat-wrapper:last-child { margin-bottom: 0; }
.featured-posts-box, .featured-posts-box .grid {width: 72%; float: left;}
.recent-posts { margin-top: 60px; }
.featured-posts-title { position: relative; }
.featured-posts-link { position: absolute; right: 0; top: 4px; height: 16px; width: 16px; background: url(svg/sprite.svg) 75% 50% no-repeat; background-size: auto 48px; opacity: 1; transition: opacity 0.3s; }
.featured-posts-link:hover { opacity: 0.8; }
.small-post{
	text-align: left;
}
.small-post { margin-bottom: 30px; line-height: 16px; }
.small-post .entry-meta { padding: 0px; margin: 8px 0 0 0; }
.anoncethumb { color: #494949; font-weight: bold; font-size: 18px; }
.anoncethumb:hover { color: #006699; text-decoration: none; }
.anoncethumb .wrap-img img { display: block; }
.anoncethumb .wrap-img { display: none; }
.small-post-bigimg .anoncethumb { font-size: 24px; line-height: 100%; }
.small-post-bigimg .anoncethumb .wrap-img { display: block; height: auto; width: 100%; margin: 0 0 10px 0; max-height: 300px; overflow: hidden; }
.small-post-bigimg .anoncethumb .wrap-img img { width: 100%; }
.small-post .theexcerpt { font-size: 16px; line-height: 18px; margin: 10px 0 0 0; }

/* ========================================================================== */


/* ==========================================================================
 *  sidebar
 * ========================================================================== */
.wlist { padding: 0;margin: 0; font-size: 16px; line-height: 18px; }
.wlist a { color: #5a5a5a; }
.wlist a:hover { color: #006699; }

.widget { margin: 0 0 50px;  }
.widget:before {display: none;}

.widget-title { font-size: 15px; }
.widget ul, .wlist > li ul, #wlist > li ul { margin: 0; padding: 0; position: relative; }
.wlist > li:before, .wlist li:after { display: none; }
.widget ul ul, .wlist > li  ul ul, #wlist > li  ul ul { margin-top: 10px; }
.widget ul > li, .wlist .categories ul > li {
 /*padding-left: 30px; */
     text-align: left;
}

.wlist .cat-item::before { background-position: 25% 0; }



/* ========================================================================== */



/* ==========================================================================
 *  FOOTER
 * ========================================================================== */

#footerbar { position: relative; padding: 40px 0 0; }
#footerbar .wlist { padding: 40px 0 0; margin: 0; border-top: 4px double #eee; }
#footerbar .widget {margin-bottom: 50px;}
#footerbar .widget:before, #footerbar li:after {display: none;}
#footerbar .widget li:before { transform: none; border-radius: 0;}
#footerbar .widget-title { border-bottom: none; padding: 5px 14px; font-size: 16px; background-color: #006699; display: inline-block; color: #fff; border-radius: 5px; }

#footer { font-size: 14px; text-align: center; margin-top: 0; margin-bottom: 0; padding: 10px, max-width:1160px, margin: 0 auto;}
#footer .menu-footer-container {
    width: 50%;
    margin: 0 auto;
}
#footer p { color: #5a5a5a; line-height: 14px; }
#copyrights p {padding: 0;}
#footer a:hover { text-decoration: underline; }
#toTop { position: fixed; z-index: 1000; bottom: 20px; right: 20px; margin: 0; padding: 14px 12px; display: none; cursor: pointer; background: #222; color: #fff !important; border-radius: 3px; transform: rotate(-90deg); font-size: 24px; text-align: center; transition: background-color 0.2s; }
#toTop:hover { background: #999; text-decoration: none !important; border-radius: 3px; }




/* ==========================================================================
 *  
 *  
 *  				*****  ADAPTIVE *****
 *  
 *  
 * ========================================================================== */


/** TABLET
 * ========================================================================== */
@media screen and (min-width:768px) {

	blockquote { margin-left: 40px; margin-right: 0px; width: auto; border-radius: 5px; padding: 20px 20px 20px 60px; }

	/* __ infobar __ */
	.infobar .inner { width: 90%; }
	#left_mobile, #right_mobile {left: 5%; margin-left: 0;}
	.mobbar{padding-right: 0;border-left: 1px solid rgba(255,255,255,0.2);box-shadow: inset 0 0px 0px rgba(0, 0, 0, .3);width: 300px;float: left;position: relative;}
	.mobbar .mobile-search { left: auto; right: 0; display: none}

	/* __ soclinks infobar __ */
	.top-social { background: rgba(0, 0, 0, 0.12); }
	.soc-link { float: left; height: 50px; width: 50px; margin: 0; border-right: 1px solid rgba(255,255,255,0.2); }
	.soc-link:first-child { border-left: 1px solid rgba(255,255,255,0.2); }
	.soc-item.mm-button,  { transition: background-color 0.2s; }
	.soc-link:hover, .mm-button:hover  {background-color: rgba(0,0,0,0.4); }

	/* search infobar */
	#topsearch { width: 300px; right: 5%; display: block !important;position: static;float: right; box-shadow: 0 0 0 transparent; position: relative;
		top: auto; right: auto; border: 1px solid rgba(255, 255, 255, 0.2); border-width: 0 1px; background: transparent; }
	.search-underform { height: 20px; width: 20px; padding: 15px; }

	/* anounces */
	.review h2 { font-size: 26px; line-height: 36px; }
	.review img.thumbnail { display: block; margin-top: 5px; margin-bottom: 20px; }


	/* ------------------------------- */
	.entry-meta:before { background-image: none; }
	
	.entry ul { padding-left: 80px; margin-top: 0; }
	.entry ol { padding-left: 90px; }
	.anoncethumb .thumbnail { 
		float: none!important;
	 margin-right: 30px;
	 width: 100%; }
	.thumbnail { 
		float: left;
		/*float: none;*/
	 margin-right: 30px; }

	/* prev next */
	.view-box { float: right; margin-top: -85px; }
	.view-box > li { margin-bottom: 0; }

	/* comments */
	#comments .children { margin-left: 30px; }
	.row-name, .row-email, .row-site { width: 32%; margin-right: 2%; float: left; }
	.row-site {margin-right: 0;}
	.row-submit { padding: 0px; width: auto; float: right; }
	.comment-form .form-submit::before { left: auto; right: 10px; }
	.comment-form #submit { padding: 10px 45px 10px 15px; margin: 0 0 0 auto; }

	/* sliders */
	.bx-wrapper .bx-pager { bottom: 0; top: auto; padding-bottom: 0; }
	.bigslider .slide-img { display: block; float: left; border-right: 1px solid #fff; margin: 0 30px 0 0; max-width: 50% }
	.bx-wrapper img {width: auto;}
	.bigslider .slide-text { display: none; }
	.bx-wrapper .bx-controls-direction a {display: block;}
	.wrap-second-sl { width: 46%; float: right; }

	/* magazine posts */
	.featured-posts-box .featured-cat-wrapper { float: left; 
		/*width:32.20338983%;*/
		width: 48%;
	 margin-right: 1.694915254%; margin-left: 0 }
	.featured-posts-box .featured-cat-wrapper:nth-child(3n) { margin-right: 0 }

	.small-post { margin-bottom: 20px; }

	.left-wrap-two { margin-right: 4%;  float: left; }
	.left-wrap-two .small-post-bigimg .wrap-img { max-height: 150px; overflow: hidden; }
	.left-wrap-two .small-post-bigimg .anoncethumb { color: #069; }
	
	.little-wrapper .small-post { width: 48%; float: left; margin-right: 4%; }
	.little-wrapper .small-post:nth-child(2n) { margin-right: 0; }
	.big-wrapper .small-post-bigimg .wrap-img { float: left; width: 50%; margin: 0 20px 0 0; }


	/* ___ footerbar ___ */
	#footerbar .wlist ul { padding-left: 25px; }
	#footerbar .widget { width: 46%; float: left; }
	#footerbar .widget:nth-child(3n) li { width: 40%; float: left; }
	#footerbar .widget:nth-child(3n) li:nth-child(even) { margin-left: 8% }
	#footerbar .widget:nth-child(3n) { width: 100%; }
	#footerbar .widget:nth-child(3n+1) { margin-right: 8%; }

}





/** DESKTOP
 * ========================================================================== */

 @media screen and (min-width:1024px) {

	/* infobar */
	.infobar { margin: 0 auto; }
	.infobar .inner {width: auto;}
	.mobbar {display: none;}
	.top-social, .soc-item, .top-message {display: block;}
	.soc-link {height: 40px;width: 40px;}
	.soc-item {padding: 10px;width: 20px;height: 20px;}
	.logo,.sitedescription { text-align: left; }

	 .first-slider:before { display: block; }


	 /* ___ topsearch ___ */
	#topsearch.fl {float: left}
	#topsearch.fr{float: right;}
	#topsearch.hide {display: none !important;}
	.searchform {position: relative;}
	.search-underform { padding: 10px; }
	input.s { height: 40px;}
	input[type="submit"].search_submit {height: 40px;width: 40px;right: 0; top: 0px; }

	/* header */
	#header .inner, .infobar .inner { width: auto; padding: 0 40px;}
	img#logo {max-height: none;}

	/*.menu {*/
	#categories {display: none;}
	.top-pages { display: block; float: right; text-align: right; margin: 10px 0; padding: 0; position: static; background: transparent; max-width: none; box-shadow: 0 0 0 transparent; }
	.top-pages li:before, .top-pages li:after {display: none;}
	.top-pages li { display: inline-block; border-bottom: 5px solid transparent; margin-bottom: 0; } 
	.top-pages li a, .top-pages li span { padding: 10px; border: 0; display: inline-block; color: #595959; font-size: 15px; line-height: 20px; font-weight: bold; text-transform: uppercase; border-radius: 5px; transition: background-color 0.2s; }
	.top-pages li.current-menu-item span, .top-pages li.current_page_item span, .top-pages a:hover { background-color: #dedede; }
	.top-pages .sub-menu:before, .top-pages .children:before { content: ''; display: block; position: absolute; top: -5px; right: 20px; height: 0; width: 0; border-bottom: 5px solid #069; border-left: 5px solid transparent; border-right: 5px solid transparent; }
	.top-pages .sub-menu, .top-pages .children { display: none; position: absolute; width: 260px; right: 0px; z-index: 100; overflow: visible; background: #069; border-radius: 5px; padding: 0; margin: 0; top: 45px; }
	.top-pages li:hover > .sub-menu, .top-pages li:hover > .children { display: block; }
	.top-pages .sub-menu .menu-item, .top-pages .children .page_item { display: block; margin: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
	.top-pages .sub-menu .current-menu-item span, .top-pages .children .current_page_item span {background: #00b9eb !important;}
	.top-pages .sub-menu li a, .top-pages .children li a, .top-pages .sub-menu li span, .top-pages .children li span { display: block; text-transform: none; font-weight: normal; text-align: left; padding: 15px 20px; color: #fff; text-transform: none; border-radius: 0; }
	.top-pages .sub-menu li a:hover, .top-pages .children li a:hover { background-color: rgba(255,255,255,0.2); }
	.top-pages .sub-menu li:last-child, .top-pages .children li:last-child { border: 0; }
	.top-pages .sub-menu li:first-child a, .top-pages .children li:first-child a, .top-pages .sub-menu li:first-child span, .top-pages .children li:first-child span { border-radius: 5px 5px 0 0 !important; }
	.top-pages .sub-menu li:last-child a, .top-pages .children li:last-child a, .top-pages .sub-menu li:last-child span, .top-pages .children li:last-child span { border-radius: 0 0 5px 5px; }
	.top-pages .sub-menu .sub-menu, .top-pages .children .children { top: 0; left: 100%; }
	.top-pages .sub-menu .sub-menu:before, .top-pages .children .children:before { top: 50%; left: -7px; transform: rotate(-90deg); }

	/* ___ main menu ___ */
	.main-menu { display: block; margin: 0; border-bottom: 1px solid #c2c2c2; text-align: left; position: relative; z-index: 99; padding: 0;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 );
		background-color: #DEDEDE;
	}
	.main-menu li { padding: 0; margin: 0; display: block; float: left; }
	.main-menu li:before, .main-menu li:after { display: none; }
	.main-menu a, .main-menu span { color: #595959; font-size: 16px; text-shadow: 0 1px 0 rgba(255, 255, 255, .3); font-weight: normal; text-transform: none; 
		padding: 14px 27px; border-right: 1px solid rgba(0,0,0,0.12); display: block; transition: background 0.2s; margin: 0; }

	.main-menu a:hover, .main-menu .current-menu-item span, .main-menu .current-menu-item a { background: #069; color: #fff; text-shadow: 0 0 transparent; }
	.layout-leftbar #main-menu:before, .layout-rightbar #main-menu:before, .layout-both #main-menu:before { content: ''; display: block; width: 100%; height: 40px; background: #fff; position: absolute; top: 101%; z-index: 99; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0.12); border-width: 0 1px; }
	.main-menu .sub-menu { position: absolute; top: 100%; left: 0; padding: 0; margin: 0;  border: 1px solid #C2C2C2; border-top: 0; background: #E7E7E7; z-index: 99; width: 240px;}
	.main-menu .sub-menu li { padding: 0; margin: 0; border: 0;display: block; width: 100%; }
	.main-menu .sub-menu li a { margin: 0; border:0; border-top: 1px solid #c2c2c2; display: block; border-radius: 0; padding: 10px 20px; }
	.main-menu .sub-menu .sub-menu { position: static; border:0; }
	.main-menu .sub-menu {display: none;}
	.main-menu > li:hover .sub-menu {display: block;}

	/* ___ content ____ */
	.content { width: 66.97%; padding: 40px; margin: 0;	float: left; border-right: 1px solid #e0e0e0; box-sizing: border-box; }
	.post { padding: 0; }
	article.post { margin: 0; }
	article .post_thumbnail { margin: 0; height: 90px;}

	
	/* comments */
	.comment-body { margin: 0 0 30px 80px; position: relative; }
	.comment-author .avatar { margin-right: 20px; float: left; display: block; border-radius: 3px; position: absolute; top: 6px; left: -80px; }

	/* prevv & next post*/
	.post-nav-links .view { width: 48%; }
	.post-nav-links .prev { float: left; }
	.post-nav-links .next { float: right; }
	.post-nav-links .prev a { padding: 20px 20px 20px 60px; text-align: right; }
	.post-nav-links .next a { padding: 20px 60px 20px 20px; text-align: left; }

	/* announces & posts */ 
	.review img.thumbnail { display: block; padding: 0; }
	.review { padding-bottom: 30px; border-bottom: 4px double #e0e0e0; margin-bottom: 30px; }

	.avd-pagination { padding: 0; margin-top: 0; }
	.page-numbers { display: inline-block; padding: 4px 12px; height: 23px; position: relative; margin-bottom: 10px; }


	/* ___ slider ____ */
	.first-slider { width: auto; padding: 0; margin: 40px 30px -40px; }
	.first-slider .bx-wrapper { margin-bottom: 60px; }
	.bigslider .slide-img { max-width: 60%; }
	.bigslider .slide-text { display: block; }

	/* __ small post announce __ */
	.anoncethumb .wrap-img { display: block; position: relative; float: left; margin: 0 10px 0 0; height: 100px; overflow: hidden; }
	.anoncethumb .wrap-img:before { position: absolute; content: ''; background-color: transparent; top: 0; left: 0; right: 0; bottom: 0;  background-size: 30px 30px; background-repeat: no-repeat; background-position: center; transition: background 0.5s;  }
	.anoncethumb:hover .wrap-img:before { background-color: rgba(0, 101, 153, .85); z-index: 10; background-image: url('svg/readmore.svg'); }

	.left-wrap-two { 
		/*width: 64.40677966%; */
		width: 100%;
		margin-right: 1.694915254%; }
	.left-wrap-two .small-post-bigimg { float: left; 
		/*width: 48%; */
		width: 100%;
		margin-right: 4%; }
	.left-wrap-two .small-post-bigimg:nth-child(2n) { margin-right: 0; }
	.left-wrap-two .small-post-bigimg .wrap-img { max-height: 270px; }
	.wrap-second-sl { width: 32.20338983%; max-height: none; }

	.little-wrapper { float: left; width: 32.20338983%; margin-right: 1.694915254%; }
	.little-wrapper .small-post { width: 100%; margin-right: 0; }
	.big-wrapper { float: left; width: 64.40677966%;   }
	.big-wrapper .small-post-bigimg .wrap-img { max-height: 220px }
	.big-wrapper .small-post-bigimg { margin-bottom: 20px; }

	/* ______ SIDEBAR ________ */
	.widget_calendar table { border: 1px solid #eee; }
	.widget_calendar caption { padding: 10px 0; background: #eee; font-weight: bold; }
	.widget_calendar td, .widget_calendar th { padding: 0; width: 5%; text-align: center; box-shadow: 1px 1px 0 #eee; line-height: 40px }
	.widget_calendar td a { display: block; background: #F6F6F6; height: 100%; width: 100%; transition: color 0.3s, background-color 0.3s; }
	.widget_calendar td a:hover { display: block; background: #222; color: #fff; }

	/* footerbar */
	#footerbar { padding: 40px 40px 0; padding: 40px 40px 0; border: 1px solid #E1E1E1; border-top: 0; background: #fff; z-index: 99; margin-bottom: 10px; }
	#footerbar .widget:nth-child(3n), #footerbar .widget:nth-child(3n+1), 
	#footerbar .widget {width: 30%;margin-right: 5%;padding: 0;}
	#footerbar .widget:nth-child(3n) {margin-right: 0;}
	#footerbar .widget:nth-child(3n) li:nth-child(even),
	#footerbar .widget:nth-child(3n) li { width: auto; float: none; margin-left: 0; }

	footer { border-top: none; }
	/*.center:after { right: 6%; }*/

}

@media screen and (min-width:1200px) {
	#header .inner, .infobar .inner { width: 100%; padding: 0; }
	.main-menu {border-radius: 10px 10px 0 0;}
	.main-menu > li:first-child span, .main-menu > li.current-menu-item:first-child span,
	.main-menu > li:first-child a, .main-menu > li.current-menu-item:first-child a { border-radius: 10px 0 0 0; }
	#footerbar { border-radius: 0 0 10px 10px; }
	.bigslider .slide-img { max-width: 70%; }
}
@media screen and (min-width:1162px) {
	.widget .counter span { float: right; padding: 8px 6px 8px 4px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold; color: #4b4b4b; font-size: 15px; }
	.widget .counter span { display: block; border: 1px solid #b3b3b3; float: left; border-radius: 0 5px 5px 0; border-left: none; }
	.widget_social .sidebar-buttons { border-radius: 5px 0 0 5px; float: left; transition: ease-out 0.3s; }
	.widget_social .counter { display: inline-block; width: 27.5%; margin-right: 6.75%; }
}

/* same addintions classes */
.hide{display:none}.fl{float:left}.fr{float:right}
.fc{display:block;margin-left:auto;margin-right:auto}
.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}


/* Стили для миниатюры в посте (ремоскоп-style) */
.post_thumbnail {
    position: relative;
    height: 250px;
	}
.post_thumbnail img {
	/*height: 100%;*/
}
.entry.clearfix {
    /*margin-top: 15px;*/
    margin-top: 26%;
}
article.entry-meta {
    padding: 10px;
   	margin: 0;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.30);
}
@media screen and (max-width:767px) {
	.entry-meta {
		display: none;
	}
	.post_thumbnail img {
	height: auto;
	}
	.post h1{
		font-size: 24px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(36,118,191,0.85);
	    color: #fff;
	    padding: 20px;
	    margin: 0 auto;
	}
}
@media screen and (max-width:767px) {
	.post_thumbnail img {
		display: none;
	}
	.post_thumbnail {
		height: 70px;
	}
}
/* --- */

/* Стили для главной */
body.home article.post .post_thumbnail {
	height: 70px;
}
body.home article.post .entry-meta {
	display: none;
}
body.home main#content {
	padding: 0px;
	width: 65%!important;
}
/* --- */

/* Исправляет стили для списка TOC+ */
	#toc_container li:before,#toc_container li:after {
		display: none;
	}

	#toc_container a:after {
		display: none;
	}
	#toc_container{
		margin-top: 0em;
	}
	#toc_container.no_bullets ul.toc_list li{
		padding: 5px 10px;
	}
	#toc_container.no_bullets ul.toc_list li:nth-child(odd){
		background: #e4e4e4;
	}
/*Виджет популярных постов*/

.one-post .thumb,
.widget.last_posts .thumb {
    background-size: cover;
    background-position: center;
}

.one-post {
    padding: 20px;
    overflow: hidden
}

.one-post a.title {
    color: inherit;
    font-size: 30px
}

.one-post a.title:hover {
    color: #e65656
}

.one-post .text {
    line-height: 28px;
    font-size: 16px
    white-space: normal;
}

.one-post a.category {
    padding: 10px 0
}

.one-post .thumb {
    width: 240px;
    height: 160px;
    display: block;
    margin: 10px auto
}

.one-post.smallWide .thumb {
    width: 100%;
    max-width: 240px;
    height: 130px
}

.widget.last_posts li {
    overflow: hidden;
    margin-bottom: 15px;
    /*padding-top: 10px;*/
    /*border-bottom: 1px solid #dedede*/
}

.widget.last_posts li:last-child {
    border-bottom: 0
}

.widget.last_posts .thumb {
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 10px;


}

.widget.last_posts a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;

}
.last_posts .title{
	margin-bottom: 24px;
}
.widget.last_posts a.category {
    color: #999;
}
.widget.last_posts a:hover {
    text-decoration: none;
    color: #006699;
}

.widget .title {
    background: #005c89;
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border-bottom: 4px double #e0e0e0;
        width: 93%;
}

/* mobile hamburger menu */
@media screen and (max-width:1024px) {
.hamburger {
  position: absolute;
  top: 0;
  list-style: none;
  float: left;
  margin: 0;
  padding: 10px 0;
  top: 2px;
  left: 10px;
  -moz-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 233ms cubic-bezier(0.5, 0, 0, 1);
}
.hamburger li {
  width: 35px;
  height: 5px;
  background: #2476bf;
  margin: 2px 0 0;
  padding: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -o-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 333ms cubic-bezier(0.5, 0, 0, 1);
}

.hamburger.opened  li.first {
  -moz-transform: rotate(-135deg) translateY(-8.5px);
  -ms-transform: rotate(-135deg) translateY(-8.5px);
  -webkit-transform: rotate(-135deg) translateY(-8.5px);
  transform: rotate(-135deg) translateY(-8.5px);
}
.hamburger.opened  li.second {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.hamburger.opened  li.third {
  -moz-transform: rotate(135deg) translateY(8.5px);
  -ms-transform: rotate(135deg) translateY(8.5px);
  -webkit-transform: rotate(135deg) translateY(8.5px);
  transform: rotate(135deg) translateY(8.5px);
}
}
#menu-footer { display: block; float: center; text-align: center; margin: 10px 0; padding: 0; position: static; background: transparent; max-width: none; box-shadow: 0 0 0 transparent;}
#menu-footer li:before, .top-pages li:after {display: none;}
#menu-footer li { display: inline-block; border-bottom: 5px solid transparent; margin-bottom: 0; } 
#menu-footer li a, .top-pages li span { padding: 10px; border: 0; display: inline-block; color: #595959; font-size: 15px; line-height: 20px; font-weight: bold; text-transform: uppercase; border-radius: 5px; transition: background-color 0.2s; }
#menu-footer li.current-menu-item span, .top-pages li.current_page_item span, .top-pages a:hover { background-color: #dedede; padding: 10px; border: 0; display: inline-block; color: #595959; font-size: 15px; line-height: 20px; font-weight: bold; text-transform: uppercase; border-radius: 5px; transition: background-color 0.2s; }
#menu-footer .sub-menu:before, .top-pages .children:before { content: ''; display: block; position: absolute; top: -5px; right: 20px; height: 0; width: 0; border-bottom: 5px solid #069; border-left: 5px solid transparent; border-right: 5px solid transparent; }
#menu-footer .sub-menu, .top-pages .children { display: none; position: absolute; width: 260px; right: 0px; z-index: 100; overflow: visible; background: #069; border-radius: 5px; padding: 0; margin: 0; top: 45px; }
#menu-footer li:hover > .sub-menu, .top-pages li:hover > .children { display: block; }
#menu-footer .sub-menu .menu-item, .top-pages .children .page_item { display: block; margin: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
#menu-footer .sub-menu .current-menu-item span, .top-pages .children .current_page_item span {background: #00b9eb !important;}
#menu-footer .sub-menu li a, .top-pages .children li a, .top-pages .sub-menu li span, .top-pages .children li span { display: block; text-transform: none; font-weight: normal; text-align: left; padding: 15px 20px; color: #fff; text-transform: none; border-radius: 0; }
#menu-footer .sub-menu li a:hover, .top-pages .children li a:hover { background-color: rgba(255,255,255,0.2); }
#menu-footer .sub-menu li:last-child, .top-pages .children li:last-child { border: 0; }
#menu-footer .sub-menu li:first-child a, .top-pages .children li:first-child a, .top-pages .sub-menu li:first-child span, .top-pages .children li:first-child span { border-radius: 5px 5px 0 0 !important; }
#menu-footer .sub-menu li:last-child a, .top-pages .children li:last-child a, .top-pages .sub-menu li:last-child span, .top-pages .children li:last-child span { border-radius: 0 0 5px 5px; }
#menu-footer .sub-menu .sub-menu, .top-pages .children .children { top: 0; left: 100%; }
#menu-footer .sub-menu .sub-menu:before, .top-pages .children .children:before { top: 50%; left: -7px; transform: rotate(-90deg); }

.whitout-slider{
	margin-bottom: 10px!important;
}
.single_title{
    width: 100%;
    box-sizing: border-box;
    background: rgba(36,118,191,0.85);
    color: #fff;
     padding: 10px 20px!important;
    line-height: 1.2em;
}
.single_title:hover{
	color: #FFF;
	background: rgba(0, 51, 76, 0.85);
}
.category-link{
	    color: #5a5a5a;
}
.category-link:hover{
	    color: #005c89;
}
.clear{
	clear: both;
}
.widget .widget-title{
	background: #005c89 !important;
    display: inline-block;
    padding: 0 10px;
    font-size: 20px !important;
    line-height: 30px;
    text-transform: none!important;
        font-weight: normal!important;
    color: #fff;
        width: 93%;
}
.wpp-post-title{
	word-spacing: -1px;
}
.yarpp-heading{
    font-size: 20px!important;
    color: black!important;
}
.mobile-menu ul li{
	list-style: none;
}